.arcadeHeader {
    width: 800px;
   
    border-radius:15px;
    border-style:solid;
    border-color:#e15a47;
    border-top-color:#e1236a;
    border-bottom-color:#e29348;
    border-width: 15px;
    margin-inline:auto;
    background-image:url('cyclonebg.jpg');
    background-position:center;

    .arcadeHeaderInnerBorder{
        border-style:solid;
        border-color:#e1236a; 
        border-top-color:#e1236a;
        border-bottom-color:#e15a47;
        border-width:15px;
        padding: 10px;


        .arcadeHeading {
            text-transform: uppercase;
            font-size: 4.5rem;
            text-align: center;
            color:#f8a547;
            font-family: "press start 2p", sans-serif;
            font-weight: 800;
            letter-spacing:0px;
            -webkit-text-stroke: 5px #dec556;
            text-shadow:
                0 0 0 #e03b5f,
                -10px -10px 0 #e03b5f,  
                0 0 0 #e03b5f,
                -20px 1px 0 #e03b5f,
                1px 1px 0 #e03b5f;
                animation: glow 1.5s ease-in-out infinite alternate;
            }
    }
}

.arcadeSpace {
    clip-path: polygon(0 0, 100% 0, 97.5% 100%, 2.5% 100%);
    background-color:#252f4f;
    width: 780px;
    height: 55px;
    margin-inline:auto;
}

.arcadeBody{
    width:740px;
    margin-inline:auto;
    border-style:solid;
    border-color:#e15a47;
    border-top-color:#e1236a;
    border-width: 15px;
    background-color: #225373;

    .arcadeBodyInnerBorder{
        border-style:solid;
        border-color:#e1236a;
        border-top-color:#e15a47;;
        border-width:15px;
        height: 400px;
        padding: 20px;

        .arcadeMonitor {
            background-color:#352e7e;
            width: 100%;
            height: 100%;
            border-radius:25px;
            display: flex;
        }
    }
}

.arcadeControlsBorder{

    background-color:#e29348;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
    width:920px;
    height:300px;
    margin-inline:auto;
    


      .arcadeControls{
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
    height: 290px;
    width:97.5%;
    margin-inline:auto;
    padding-top:10px;

    .arcadeControlsInner{
        clip-path: polygon(9.5% 0, 90.5% 0, 100% 100%, 0 100%);
        width: 99%;
        height: 98%;
        margin-inline:auto;
        background-color:#213a58;

        .arcadeControlsFlex{
            width: 80%;
            margin-inline:auto;
        }
    }
}
}



@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #e03b5f,
        0 0 70px #e03b5f, 0 0 80px #e03b5f, 0 0 100px #e03b5f, 0 0 150px #e03b5f;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e03b5f,
        0 0 35px #e03b5f, 0 0 40px #e03b5f, 0 0 50px #e03b5f, 0 0 75px #e03b5f;
    }
  }


