.arcadeHeader {
    width:40vw;
   
    border-radius:15px;
    border-style:solid;
    border-color:#5645b8;
    border-top-color:#9d52bf;
    border-bottom-color:#72bdbc;
    border-width: 15px;
    margin-inline:auto;
    background-image:url('bg.jpg');

    .arcadeHeaderInnerBorder{
        border-style:solid;
        border-color:#9d52bf; 
        border-top-color:#5645b8;
        border-bottom-color:#5645b8;
        border-width:15px;
        padding: 10px;


        .arcadeHeading {
            text-transform: uppercase;
            font-size: 3.5rem;
            text-align: center;
            color:#edd5dc;
            font-family: "press start 2p", sans-serif;
            font-weight: 800;
            letter-spacing:0px;
            -webkit-text-stroke: 5px #f6e5ea;
            text-shadow:
                0 0 0 #ee1fc9,
                -10px -10px 0 #ee1fc9,  
                0 0 0 #ee1fc9,
                -20px 1px 0 #ee1fc9,
                1px 1px 0 #ee1fc9;

                animation: glow 1.5s ease-in-out infinite alternate;
            }
    }
}

.arcadeSpace {
    clip-path: polygon(0 0, 100% 0, 97.5% 100%, 2.5% 100%);
    background-color:#5645b8;
    width: 40vw;
    height: 55px;
    margin-inline:auto;
}

.arcadeBody{
    width:38vw;
    margin-inline:auto;
    border-style:solid;
    border-color:#5645b8;
    border-top-color:#9d52bf; 
    border-width: 15px;

    .arcadeBodyInnerBorder{
        border-style:solid;
        border-color:#9d52bf; 
        border-top-color:#5645b8;
        border-width:15px;
        height: 300px;
        padding: 20px;

        .arcadeMonitor {
            background-color:#352e7e;
            width: 100%;
            height: 100%;
            border-radius:25px;
            display: flex;
        }
    }
}

.arcadeControlsBorder{

    background-color:#72bdbc;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
    width:47vw;
    height:300px;
    margin-inline:auto;
    


      .arcadeControls{
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
    height: 290px;
    width:97.5%;
    margin-inline:auto;
    padding-top:10px;

    .arcadeControlsInner{
        clip-path: polygon(9.5% 0, 90.5% 0, 100% 100%, 0 100%);
        width: 99%;
        height: 98%;
        margin-inline:auto;
        background-color:#5645b8;

        .arcadeControlsFlex{
            width: 80%;
            margin-inline:auto;
        }
    }
}
}

.arcadeBase{
    width: 94%;
    border-style:solid;
    border-color:#9d52bf;
    border-bottom-color:#5645b8;
    background-color:#403195;
    margin-inline:auto;
    height: 15vh;
    border-width: 10px;
}





@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
        0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
        0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }